body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    background-color: rgb(200, 250, 206);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}
.nav-container {
    display: flex;
    height: 150px;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(27, 44, 1);
    width: 100%;
    position: fixed;
    align-content: center;
    clear: left;
    margin-top: 0;
    box-shadow: -8px -7px 12px 18px rgba(0, 7, 3, 4);


}
#logo {
    
    margin: 0 0 ;
    display: flex;
    justify-content: flex-start;
}
.logo img {
    height: 150px;
    width: 150px;
}
.nav-content li {
    display: inline;
    flex-direction: row;
    justify-content: flex-end;
    margin: 20px;
    align-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 50px;
    font-size: 18px;
}
button { 
    height: 40px;
    margin-top: 50px;
    border-radius: 10px;
    margin-right: 5px;
    
}
a {
    color: blue;
    cursor: pointer;
}
a:hover {
    color: orange;
}
a:active {
    color: purple;
}
a:visited {
    color: brown;
}
.banner {
    display: block;
  height: 1100px;
  width: auto;
  margin: auto 0;
  align-content: center;
  text-align: center;
  background-image: url("IMAGES/soccer-ball-lying-football-pitch-soccer-ball-lying-football-pitch-green-grass-white-line-hard-shadow-168537880.jpg");
  background-repeat: initial;
  background-size: cover;
  image-rendering: auto;
  font-size: 28px;
  font-weight: bold;
  
}
.banner  p {
    margin-top: 50px;
    padding-top: 0;
    color: rgb(41, 1, 1);
    border:1px solid white;
    margin-left: 40px;
    margin-right: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
    
    
}
 h1 {
    padding-top: 140px;
    margin-bottom: 90;
    margin-top: 0;
    padding-bottom: 0;
    font-size: 46px;
}
.blankSpace {
    height: 100px;
}

.content-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 700px;
    width: auto;
    font-weight: bold;
    
    color: yellow;
    
    ;
}
.card-1 {
    align-self: center;
    margin: 10px;
    border: 1px solid red;
    width: 500px;
    height: 400px;
    font-size: 18px;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    background-color: black;
    opacity: 0.6;
    box-shadow: 3px 2px -8px -9px rgb(19, 1, 1);
}
#programmes {
    
    background-image: url("IMAGES/ustadi collections/ustadi trophy pic 4.jpg");
    background-repeat: repeat;
    background-size: cover;
    
}
.content-2 {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-image: url("IMAGES/ustadi collections/ustadi trophy pic1.jpg");
    height: 1100px; 
    align-content: center;
    
    
}
h3 {
    font-weight: bolder;
}

 

#levels {
    font-size: 32px;
}
.card-2 {
    height: 400px;
    width: 500px;
    align-self: center;
    border: 1px solid rgb(1, 48, 22);
    padding: 50px;
    font-size: 28px;
    display: block;
    flex-direction: column;
    align-content: space-around;
    border-radius: 30%;
    background-color: rgb(184, 231, 198);
    opacity: 0.7;
    box-shadow: 7px 9px 18px 12px rgb(1, 48, 22);  box-shadow: -7px 9px 14px 12px rgb(0, 12, 6)
    
    
}
.content-3 {
    height: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
    color: white;
    background-color: antiquewhite;
    align-content: center;
    flex-wrap: wrap;
    background-color: rgb(180, 8, 8);
    font-size: 26px;
    width: 100%;
}

.content-3 img {
    width: 400px;
    overflow: hidden;
    flex-shrink: 1;
    height: 400px;
    margin: 2px;
}
#staff-header {
    align-items: center;
}
#alex {
    height: 600px;
    width: auto;
}
.gallery {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    margin-left: 10px;
    margin-top:10px;
    background-color: rgb(199, 250, 218);
    justify-content: space-around;
    
    
}
.gallery img {
    width: 800px;
    height: 650px;
    float: initial;
    margin: 5px;
    box-shadow:  -7px 9px 10px -3px rgba(1, 48, 22, 1);

    
}
.gallery h3 {
    font-size: 30px;
    margin-left: 5px;
}
.photo {
    justify-self: center;
}

footer {
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid black;
    background-color: rgb(1, 37, 13);
    align-content: center;
    box-shadow:  -7px 12px 18px rgba(0, 7, 3, 4);
}
.handle-1 {
align-content: center;

}
footer img {
    height: 100px;
    width: 100px;
   
}
.footer {
    color: white;
    font-size: 18px;
    margin: auto;
    opacity: 0.8;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@media only screen and (max-width:375px) and (min-height: 677px) {
   * {
    margin: 0 0;
    width: auto;
   }
   
    .nav-content ul {
        font-size: 16px;
        display: flex;
        flex-direction: column; 
        float: left;  

    }
     button {
        width: fit-content;
        height: fit-content;
    }
    .nav-container {
        height: 100px;
        flex-wrap: wrap;
        display: flex;
        width: 350px;
    }
    #logo {
        width: 100px;
    }
    .content-1, .content-2 {
        display: block;
        height: fit-content;
        width: auto;
    }
    .content-3 {
        height: 1500px;
        display: block;
    }
    .content-3 img {
        max-width: 200px;
        max-height: 200px;
    }
    footer {
        width: 100%;
    }
}